<!-- Preloader -->
<div id="preloader">
  <div id="load"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="index.html">
        <h1>DANIELLE and JEREMIAH</h1>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#ceremony">Ceremony</a></li>
        <li><a href="#accomodations">Accomodations</a></li>
        <li><a href="#registry">Registry</a></li>
        <li><a href="#rsvp">RSVP</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="slogan">
    <h4>December 12, 2015</h4>
  </div>
  <div class="page-scroll">
    <a href="#ceremony" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>
<!-- /Section: intro -->

<!-- Section: cermony -->
<section id="ceremony" class="home-section text-center bg-gray">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Our Wedding</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="wow fadeInLeft" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Where</h5>
              <p>
                Maitland Civic Center<br />
                Venue on the Lake<br />
                641 Maitland Ave S<br />
                Maitland, FL 32751
              </p>
              <p>
                <a href='https://www.google.com/maps/place/Maitland+Civic+Center+Inc/@28.6202828,-81.3720915,16z/data=!4m2!3m1!1s0x88e7704917e33b9b:0x2cc25dba3e76d423'>
                  Google map
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>When</h5>
              <p>Saturday, December 12</p>
              <p>4:00pm</p>
              <p>The reception will follow immediately at the Maitland Civic Center which is also
              named Venue on the Lake.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Attire</h5>
              <p>Yes</p>
              <br />
              <p>Danielle says the attire is semi-formal.  I think that is a little constricting.  If you are wearing clothes, you will probably fit in.</p>
            </div>
          </div>
        </div>
      </div>
    </div>		
  </div>
</section>
<!-- /Section: services -->

<section id="us1" class="home-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="0.2s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/heart.jpg" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="0.5s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/looking.jpg" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="0.8s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/capital.jpg" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
  </div>		
</section>

<section id="accomodations" class="home-section text-center bg-gray">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Accomodations</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <p>
                <a href='http://www.sheratonorlandonorth.com'>
                  Sheraton Orlando North Hotel
                </a><br />
                600 N Lake Destiny Rd. Maitland, FL 32751
              </p>
              <p>
                Please reference the Hemphill-Nemeth wedding to receive the wedding booking rate.
              </p>
            </div>		
          </div>
        </div>
      </div>
    </div>		
  </div>
</section>

<section id="us2" class="home-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="0.2s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/launch.jpg" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="0.4s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/best_picture_ever.JPG" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="0.8s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/thanksgiving.JPG" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="1.0s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/christmas.JPG" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="1.2s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/autocross.png" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wow bounceInUp" data-wow-delay="1.4s">
          <div class="team boxed-grey">
            <div class="inner">
              <div class="avatar"><img src="img/thanksgiving_2.JPG" alt="" class="img-responsive" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
  </div>		
</section>

<section id="registry" class="home-section text-center bg-gray">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Registry</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Amazon</h5>
              <p>
                <a href='https://www.amazon.com/gp/registry/wedding/1JT021CL5SX1' target="_blank">
                  Click here for the Amazon registry
                </a>
              </p>
              <p>
                Or go to <a href='http://www.amazon.com/gp/wedding/homepage' target='_blank'>this website</a> and find the registry for Danielle Nemeth or Jeremiah Hemphill.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="service-box">
            <div class="service-desc">
              <h5>Bed Bath &amp; Beyond</h5>
              <p>
                <a href='http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542504020&pwsurl=' target="_blank">
                  Click here for the Bed Bath &amp; Beyond registry
                </a>
              </p> 
              <p>
                Or go to <a href='http://www.bedbathandbeyond.com/store/page/Registry' target='_blank'>this website</a> and find the registry for Danielle Nemeth or Jeremiah Hemphill.  A different Danielle Nemeth is, getting married to a guy named Lonnie in 2016.  You can buy gifts for that wedding if you want.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>		
  </div>
</section>

<!-- Section: rsvp -->
<section id="rsvp" class="home-section text-center">
  <div class="heading-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>RSVP</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="boxed-grey">
          <%= semantic_form_for @rsvp do |f| %>
            <%= f.inputs do %>
              <div class="row">
                <div class="col-md-7">
                  <%= f.input :accept, as: :radio, label: "", hint: "Are you coming?" %>
                </div>
                <div class="col-md-6">
                  <%= f.input :name %>
                  <%= f.input :party_size, hint: "Who are you bringing?" %>
                </div>
                <div class="col-md-6">
                  <%= f.input :address %>
                  <%= f.input :email_address, label: 'Email', hint: "Let us know how to contact you in the future." %>
                </div>
                <div class="col-md-6">
                  <%= f.input :message, as: :text, label: "", hint: "Is there anything else we need to know?", :input_html => {:rows => 5} %>
                </div>
                <div class="col-md-6">
                  <%= f.input :song, label: "", hint: "Name a song you would like to hear during the reception." %>
                </div>
              </div>
            <% end %>
            <%= f.actions do %>
              <%= f.action :submit, :as => :button, :label => "Submit RSVP" %>
            <% end %>
          <% end %>
        </div>
      </div>	
    </div>
  </div>
</section>
<!-- /Section: rsvp-->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="wow shake" data-wow-delay="0.4s">
        <div class="page-scroll marginbot-30">
          <a href="#intro" id="totop" class="btn btn-circle">
            <i class="fa fa-angle-double-up animated"></i>
          </a>
        </div>
        </div>
        <p>&copy;Copyright 2015 - Jeremiah Hemphill. All rights reserved. Stolen from <a href="http://bootstraptaste.com">Bootstrap Themes</a></p>
      </div>
    </div>	
  </div>
</footer>
